@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');
body {
  font-family: 'Lora', serif;
  color: 'white';
}
.heading: {
  fontWeight: 1200;
  color: 'white';
},
.subheading: {
  fontWeight: 100;
  color: 'white';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
